/* <div class="box box1">
    <p> </p>
    </div>
    <br>
    <div class="box box2">
    <p>Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon 
        azuki bean garlic. Gumbo beet greens corn soko endive gumbo gourd. Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon
        azuki bean garlic. Gumbo beet greens corn soko endive gumbo gourd.Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon
        azuki bean garlic. Gumbo beet greens corn soko endive gumbo gourd.</p>
    </div> */

.box1 {
    border: 5px solid teal;
    min-height: 100px;
    width:400px;
}

.box2 {
    
    border:5px solid teal;
    max-height: 100px; 
     width:400px;
}
       